body {
  background-color: #f8f6ea;
  font-family: 'Jua', sans-serif;

  margin-top: 8.5vh;
}

div {
  margin: 0 auto;
}

.root {
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(165, 165, 165);

  width: 400px;
  height: 800px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: white;
}

.header {
  width: 400px;
  height: 140px;

  display: inherit;
  flex-direction: column;
}

.text__rest-todo {
  margin-left: 20px;
  /* color: #df7861; */
  color: #66ace2;
}

.text__title {
  text-align: center;
}

.text__date {
  border-bottom: 1px solid rgb(187, 186, 186);
  border-top: 1px solid rgb(187, 186, 186);

  height: 40px;
  margin: 0;

  display: flex;
  text-align: center;
}

.text__year-month-day {
  font-size: 1.7rem;
  line-height: 45px;
  margin-right: 100px;
}

.text__day-of-week {
  font-size: 1.2rem;
  line-height: 50px;
}

/* Boards */
.list__todo {
  width: 300px;
  height: 600px;
  padding: 50px;

  overflow: auto;
}

.todo__item {
  width: auto;
  height: auto;
  margin-bottom: 5px;

  display: flex;
  justify-content: center;
}

.todo__item:hover .button-delete {
  visibility: visible;
}

.todo {
  cursor: pointer;

  width: 250px;

  line-height: 30px;
  font-size: 1.2em;
}

.button-delete {
  border-radius: 10px;
  background-color: rgb(210, 210, 210);

  cursor: pointer;

  width: 20px;
  height: 20px;
  margin: auto;

  visibility: hidden;
}

.button-delete:hover {
  background-color: rgb(230, 135, 135);
}

.checked {
  text-decoration: line-through;
  color: gray;
}

/* INPUT */
.input-area {
  border-top: 1px solid rgb(187, 186, 186);

  width: 400px;
  height: 140px;
  padding-top: 20px;

  text-align: center;
}

.input__todo {
  width: 300px;
  height: 30px;

  font-size: 1.2rem;
}

.input__todo::placeholder {
  font-family: 'Jua', sans-serif;
}
