/* header && default */
/* body {
  width: 80vw;
  height: 80vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
} */

body {
  background-color: #f8f6ea;
  font-family: 'Jua', sans-serif;
}

.root {
  /* border: 1px solid black; */

  border-radius: 20px;
  box-shadow: 0 0 15px rgb(165, 165, 165);

  width: 400px;
  /* width: 40vh; */
  height: 800px;
  /* height: 80vh; */

  display: flex;
  flex-direction: column;

  /* margin-top: 10vh; */
  margin-top: 100px;
  background-color: white;
}

.header {
  /* border: 1px solid black; */
  /* width: 40vw;
  height: 14vh; */
  width: 400px;
  height: 140px;
  display: inherit;
  flex-direction: column;
}

h1 {
  text-align: center;
  /* border: 1px solid gray; */
  /* border-bottom: 1px solid gray; */
}

div {
  margin: 0 auto;
}

.text__date {
  /* border: inherit; */
  display: flex;
  text-align: center;
  /* height: 4vh; */
  height: 40px;
  border-bottom: 1px solid rgb(187, 186, 186);
  border-top: 1px solid rgb(187, 186, 186);
  margin: 0;
}

.text__year-month-day {
  /* border: inherit; */
  font-size: 1.7rem;
  /* line-height: 4vh; */
  line-height: 40px;
  /* margin-right: 10vw; */
  margin-right: 100px;
}

.text__day-of-week {
  /* border: inherit; */
  font-size: 1.2rem;
  /* line-height: 4.5vh; */
  line-height: 45px;
}

/* Boards */
.list__todo {
  /* border: 1px solid black; */
  /* width: 36vw;
  height: 60vh; */
  width: 300px;
  height: 600px;
  overflow: auto;
  /* padding: 2vw; */
  padding: 50px;
}

.todo__item {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;

  width: auto;
  height: auto;
  /* margin-bottom: 0.5vh; */
  margin-bottom: 5px;
}

.todo__item:hover .button-delete {
  visibility: visible;
}

.todo {
  /* border: 1px solid black; */
  cursor: pointer;

  /* width: 30vw; */
  width: 250px;

  /* line-height: 3vh; */
  line-height: 30px;
  font-size: 1.2em;
}

.button-delete {
  /* border: 1px solid black; */
  /* width: 2vh;
  height: 2vh; */
  width: 20px;
  height: 20px;
  cursor: pointer;

  /* border-radius: 1em; */
  border-radius: 10px;
  background-color: rgb(210, 210, 210);

  visibility: hidden;

  margin: auto;
}

.button-delete:hover {
  background-color: rgb(230, 135, 135);
}

.checked {
  text-decoration: line-through;
  color: gray;
}

/* INPUT */
.input-area {
  /* width: 36vw;
  height: 14vh; */
  width: 400px;
  height: 140px;
  border-top: 1px solid rgb(187, 186, 186);
  /* padding: 2vw; */
  text-align: center;

  padding-top: 20px;
}

.input__todo {
  /* width: 30vw;
  height: 3vh; */
  width: 300px;
  height: 30px;
  font-size: 1.2rem;
}

.input__todo::placeholder {
  font-family: 'Jua', sans-serif;
}
